# [하나은행] 디지털 하나 데이터분석
## 파이썬 기초 주간 평가2

* 파일 이름을 ```이름_주간평가2``` 으로 수정하고 저장한 후, ipynb 파일로 제출해주세요.
* 수업에서 진행했던 내용 및 교재는 참고하여 풀어 보세요.
* 주간 평가문항 및 풀이는 개인 블로그 업로드나 외부에 공유를 금합니다.

- 04_Data.csv 데이터를 이용해 데이터 분석을 수행하고자 한다. 

1. 04_Data.csv를 df1으로 선언하고 데이터의 Row개수를 확인하세요. (5점)

In [3]:
import pandas as pd

df1 = pd.read_csv("04_Data.csv")
df1.shape[0]

10000

2. df1 데이터의 '채널'항목의 빈도수를 확인하고, 빈도수가 가장 높은 채널의 '최종결제금액'의 합을 계산하시오. (5점)

In [12]:
df1['채널'].value_counts()

채널
facebook     6880
others       1390
naver        1009
direct        297
email         271
google        120
instagram      33
Name: count, dtype: int64

In [15]:
df1[df1['채널']=='facebook']['최종결제금액'].sum()

825136460

3. '프로그램'에 따른 '채널' 별 '최종결제금액'의 합과 평균을 계산해, result.xlsx로 저장하시오. (5점)

In [17]:
a = df1.pivot_table(index = ["프로그램", "채널"], values = "최종결제금액",
               aggfunc=["sum", "mean"])
a.to_excel("result.xlsx")

                                  sum           mean
                               최종결제금액         최종결제금액
프로그램             채널
체중감량 프로그램 (타입 A) direct      21811700  112431.443299
                 email       28535300  113235.317460
                 facebook   591131500  123538.453501
                 google       7096000  114451.612903
                 instagram    1708500  113900.000000
                 naver       79900400  113333.900709
                 others      74863900  113602.276176
체중감량 프로그램 (타입B)  direct       9525460   92480.194175
                 email        2119780  111567.368421
                 facebook   234004960  111696.878282
                 google       5567480   95991.034483
                 instagram    1854120  103006.666667
                 naver       31591350  103918.914474
                 others      74485790  101895.745554

4. '채널'을 입력했을 때, 해당 '채널'의 '상태'별 '프로그램가격'과 '보조식품가격'의 합을 계산해 '채널명_결제상태_가격.xlsx'로 저장하는 함수를 구성하시오. (10점)

In [21]:
def func(x):
    c = x
    a = df1[df1['채널']==c].pivot_table(index = "상태", values = ['프로그램가격', '보조식품가격'],
                                 aggfunc="sum")
    a.to_excel(f"{c}_결제상태_가격.xlsx")

5. '최종결제금액'을 이용해, 회원 등급을 부여하고자 한다. '최종결제금액'이 상위 30%에 해당하는 고객을 'VIP' 나머지 고객을 'Normal'로 계산하고, '고객등급'이라는 파생변수를 생성하시오. (15점)

In [24]:
def func(x):
    if x >= df1['최종결제금액'].quantile(0.7): # 중복값
        return "VIP"
    else:
        return "Normal"
    
df1["고객등급"] = df1['최종결제금액'].apply(func)
df1.head()

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),고객등급
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 오후 7:03:29.976000,Recurring,others,0,구매안함,Normal
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 오후 8:53:54.368000,Recurring,others,0,구매안함,Normal
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 오후 11:39:21.840000,Recurring,facebook,17000,식이요법보조제A,VIP
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 오후 8:18:22.824000,Recurring,naver,0,구매안함,Normal
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 오후 5:50:30.944000,Recurring,facebook,0,구매안함,Normal

6. 앞서 만든 '고객 등급'에서 'VIP'고객들이 가장 많이 이용하는 '채널'을 확인하고, '채널'의 '최종결제금액'의 IQR(사분범위)를 계산하시오. (10점)

In [27]:
df1[df1['고객등급']=="VIP"]['채널'].value_counts()

채널
facebook     3653
others        114
naver          93
direct         29
email          24
google          7
instagram       5
Name: count, dtype: int64

In [31]:
a = df1[(df1['고객등급']=="VIP") & (df1['채널'] == 'facebook')]['최종결제금액'].describe()
a.iloc[3:]

min    129500.0
25%    129500.0
50%    129500.0
75%    133500.0
max    210000.0
Name: 최종결제금액, dtype: float64

In [34]:
a.quantile(0.75)

133560.72748425952

7. '결제시각' 데이터에서 날짜에 해당하는 부분을 '결제날짜'로, '시간'에 해당하는 부분을 '결제시'라는 이름의 파생변수를 생성하시오. (15점)

In [41]:
a = df1['결제시각'].str.replace("오후", "PM").str.replace("오전", "AM")
df1['결제시각'] = pd.to_datetime(a, format = "%Y-%m-%d %p %I:%M:%S.%f")
df1.head()

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),고객등급
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 19:03:29.976,Recurring,others,0,구매안함,Normal
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 20:53:54.368,Recurring,others,0,구매안함,Normal
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 23:39:21.840,Recurring,facebook,17000,식이요법보조제A,VIP
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 20:18:22.824,Recurring,naver,0,구매안함,Normal
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 17:50:30.944,Recurring,facebook,0,구매안함,Normal

In [42]:
df1['년'] = df1['결제시각'].dt.year
df1['월'] = df1['결제시각'].dt.month
df1['일'] = df1['결제시각'].dt.day
df1['결제(시)'] = df1['결제시각'].dt.hour

In [50]:
# df1["년"].astype("str") + "-" + df1["월"].astype("str") + "-" + df1["일"].astype("str")
df1["결제날짜"] = pd.to_datetime(df1['결제시각'].dt.date)
df1.head()

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),고객등급,년,월,일,결제(시),결제날짜
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 19:03:29.976,Recurring,others,0,구매안함,Normal,2017,4,14,19,2017-04-14
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 20:53:54.368,Recurring,others,0,구매안함,Normal,2017,5,23,20,2017-05-23
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 23:39:21.840,Recurring,facebook,17000,식이요법보조제A,VIP,2017,8,23,23,2017-08-23
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 20:18:22.824,Recurring,naver,0,구매안함,Normal,2017,8,28,20,2017-08-28
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 17:50:30.944,Recurring,facebook,0,구매안함,Normal,2017,5,7,17,2017-05-07

8. '결제시각'을 이용하여, '월'을 입력 했을때, '프로그램'별 '일자'에 따른 '최종결제금액' 합을 '월_program_amount.xlsx'이름으로 저장하는 함수를 구성하시오. (15점)

In [54]:
def func(x):
    month = x
    a = df1[df1['월']==month].pivot_table(index = "프로그램", columns = "일",
                                    values = "최종결제금액", aggfunc="sum")
    a.to_excel(f"{month}_program_amount.xlsx")

9. '결제날짜'를 이용해, '채널' 별 6월 대비 7월의 '최종결제금액' 합의 증감율을 계산하시오. (10점)
    - 증감율 : (7월 최종결제금액 합) - (6월 최종결제금액 합) / (6월 최종결제금액 합)

In [58]:
a = df1.pivot_table(index = "채널", columns = "월",
               values = "최종결제금액", aggfunc="sum")

(a[7] - a[6]) / a[6]

채널
direct      -0.594715
email       -0.235924
facebook     0.006005
google      -0.587282
instagram    0.800000
naver       -0.104573
others      -0.579701
dtype: float64

10. 보조식품을 구매한 고객들의 '채널' 별 '보조식품가격'의 합을 계산하시오. (10점)

In [64]:
a = df1[~(df1['보조식품(추가구매)'] == "구매안함")]
a.pivot_table(index= "채널", values = "보조식품가격", aggfunc="sum")

             보조식품가격
채널
direct       260000
email        184000
facebook   47936000
google       134000
instagram    121000
naver       1462000
others      1921000