08_Data.csv 를 불러와 df1으로 선언하고, 아래의 미션을 수행하시오.

1. Z1-Temp값을 목표변수로 회귀 모델을 구성하고자 한다. 각 소입로(Tube Furnace) 온도계수(Temp)와 열전도율(OP), CP, ST값을 입력했을 때, Z1-Temp를 예측할 수 있는 모델을 **다중 선형 회귀 모델**로 구성하시오.
    - X : 'Tube Furnace CP', 'Tube Furnace1 OP', 'Tube Furnace1 Temp', 'Tube Furnace2 OP', 'Tube Furnace2 Temp', 'Tube Furnace3 OP', 'Tube Furnace3 Temp', 'Tube Furnace4 OP', 'Tube Furnace4 Temp', 'ST'
    - 먼저 다중 선형회귀 모델을 구성한 뒤, 성능을 확인하시오.
    - 특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
    - 규제선형회귀 모델 중 하나를 활용해 회귀모델을 구성한 뒤, 성능을 확인하시오.
    - 본인이 만든 모델 중 가장 성능이 좋은 모델을 Best.sav로 저장하시오.
    - 가장 성능이 좋은 모델의 회귀 계수를 확인하시오.
    - 현재 만든 모델을 "08_Data_Test.csv"파일을 넣어, Test Set Score (R2)를 계산하시오.
2. 위의 모델에서 변수 선택법을 이용하여, 4개의 X만 선별해 Target을 예측하는 모델을 구성하고, 변수선택법에 의해 선택된 4개의 X값이 무엇인지 확인하시오.
3. 위에서 선택된 4개의 X값들이 각각 어떤 상관관계가 있는지 확인하시오.
4. 상관성이 가장 높은 2개의 인자를 선택해,Code_Num 별 두 변수의 평균/표준편차를 계산하시오.

In [47]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler# 스케일러(표준화)
from sklearn.preprocessing import PolynomialFeatures # 특성공학
from sklearn.linear_model import LinearRegression

In [48]:
df1=pd.read_csv(r"C:\Users\hanjw\Desktop\python\실습파일\08_Data.csv")
df1=df1.dropna()

In [49]:
#먼저 다중 선형회귀 모델을 구성한 뒤, 성능을 확인하시오.
data=df1[['Tube Furnace CP', 'Tube Furnace1 OP', 'Tube Furnace1 Temp', 'Tube Furnace2 OP', 'Tube Furnace2 Temp',
    'Tube Furnace3 OP', 'Tube Furnace3 Temp', 'Tube Furnace4 OP', 'Tube Furnace4 Temp', 'ST']]
target= df1['Z1-Temp']


train_x, test_x, train_y, test_y = train_test_split(data, target)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)
lr = LinearRegression()# 선형 회귀
lr.fit(train_scaled, train_y)
print(lr.score(train_scaled, train_y))
print(lr.score(test_scaled, test_y))

0.08035478486490344
0.08246761444498618

In [50]:
#특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures
poly= PolynomialFeatures(degree=2, include_bias = False)

train_poly= poly.fit_transform(train_scaled)
test_poly= poly.transform(test_scaled)

# lr= Ridge( alpha = 0.3)# 알파값으로 직접 과대적합 조절 
lr= LinearRegression()
lr.fit(train_poly, train_y)

# 리니어 레그레션 썼을때
print(lr.score(train_poly, train_y))
print(lr.score(test_poly, test_y))

0.11908965777199865
0.12021202316232782

In [56]:
#규제선형회귀 모델 중 하나를 활용해 회귀모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge,Lasso, ElasticNet
poly= PolynomialFeatures(degree=5, include_bias = False)

train_poly= poly.fit_transform(train_scaled)
test_poly= poly.transform(test_scaled)

lr= Ridge( alpha = 0.3)# 알파값으로 직접 과대적합 조절 
#lr= LinearRegression()
lr.fit(train_poly, train_y)

print(lr.score(train_poly, train_y))
print(lr.score(test_poly, test_y))

0.2317631918024864
0.15062718389979246

In [58]:
#규제선형회귀 모델 중 하나를 활용해 회귀모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge,Lasso, ElasticNet
poly= PolynomialFeatures(degree=5, include_bias = False)

train_poly= poly.fit_transform(train_scaled)
test_poly= poly.transform(test_scaled)

lr= Lasso( alpha = 0.3)# 알파값으로 직접 과대적합 조절 
#lr= LinearRegression()
lr.fit(train_poly, train_y)

print(lr.score(train_poly, train_y))
print(lr.score(test_poly, test_y))### 라쏘는 너무 낮게 나옴...

0.09217131533846445
0.09675208443381944

# 피클

In [72]:
#본인이 만든 모델 중 가장 성능이 좋은 모델을 Best.sav로 저장하시오.
import pickle
f= open('Best.sav', 'wb')
pickle.dump(lr, f)
f.close()

In [57]:
#가장 성능이 좋은 모델의 회귀 계수를 확인하시오.
#-> 릿지를 썼을때 
print(lr.score(test_poly, test_y))

0.15062718389979246

#2 위의 모델에서 변수 선택법을 이용하여, 4개의 X만 선별해 Target을 예측하는 모델을 구성하고, 변수선택법에 의해 선택된 4개의 X값이 무엇인지 확인하시오.

In [59]:
from sklearn.feature_selection import SelectKBest, f_classif 

data=df1[['Tube Furnace CP', 'Tube Furnace1 OP', 'Tube Furnace1 Temp', 'Tube Furnace2 OP', 'Tube Furnace2 Temp',
    'Tube Furnace3 OP', 'Tube Furnace3 Temp', 'Tube Furnace4 OP', 'Tube Furnace4 Temp', 'ST']]
target= df1['Z1-Temp']

X= data
Y= target


selector = SelectKBest(f_classif, k= 4)
X_new= selector.fit_transform(X,Y)

selector.get_feature_names_out()

array(['Tube Furnace1 OP', 'Tube Furnace2 OP', 'Tube Furnace4 OP', 'ST'],
      dtype=object)

3. 위에서 선택된 4개의 X값들이 각각 어떤 상관관계가 있는지 확인하시오.

In [64]:
abs(df1[['Tube Furnace1 OP', 'Tube Furnace2 OP', 'Tube Furnace4 OP', 'ST']].corr())

,Tube Furnace1 OP,Tube Furnace2 OP,Tube Furnace4 OP,ST
Tube Furnace1 OP,1.000000,0.035897,0.126542,0.022808
Tube Furnace2 OP,0.035897,1.000000,0.392610,0.045044
Tube Furnace4 OP,0.126542,0.392610,1.000000,0.025640
ST,0.022808,0.045044,0.025640,1.000000

5. 상관성이 가장 높은 2개의 인자를 선택해,Code_Num 별 두 변수의 평균/표준편차를 계산하시오.

In [68]:
# 상관성이 가장 높은 2개의 인자 = Tube Furnace4 OP 와 Tube Furnace2 OP

df1.pivot_table(index= 'Code_Num', values= ["Tube Furnace4 OP","Tube Furnace2 OP"], aggfunc= ['mean','std'] )

                     mean                               std
         Tube Furnace2 OP Tube Furnace4 OP Tube Furnace2 OP Tube Furnace4 OP
Code_Num
GroupA          59.839226        70.749941         1.813115         2.524301
GroupB          59.686187        71.139630         1.953780         2.273685
GroupC          46.349296        67.630012         2.122369         2.148475
GroupD          46.530237        69.941883         1.606211         1.811230
GroupE          45.662729        70.271200         1.536403         2.714977
GroupF          45.857227        68.927763         2.215573         1.498486